body {
    background-color: rosybrown;
    color: #104020;
}

.login-form {
    display: flex;
    flex-direction: column;
}
.login-form label {
    display: inline-block;
    text-align: right;
    font-weight: bold;
}
.login-form input {
    padding: 5px 10px;
    background-color: palegoldenrod;
    border-radius: 15px;
    border: none;
}
.form-row {
    padding: 10px;
    display: flex;
    justify-content: center;
}
.form-button-div {
    display: flex;
    justify-content: center;
}

.song-space {
    position: relative;
}

.song-head {
    width: 70%;
    background-color: aliceblue;
    padding: 15px;
    border-radius: 15px;
    display: flex;
    flex-direction: column;
}
.song-head-row {
    display: flex;
    margin: 5px;
    flex-direction: row;
    align-items: center;
}
.song-head-subdiv {
    display: flex;
    flex-direction: row;
    padding-left: 20px;
}
.song-head-subrow {
    display: flex;
    flex-direction: row;
    align-items: center;
}
.song-head-subrow label {
    display: flex;
    flex-direction: row;
    align-items: center;
}
.song-head input {
    padding: 5px 10px;
    background-color: palegoldenrod;
    border-radius: 15px;
    border: none;
}
.song-head select {
    padding: 5px;
    background-color: palegoldenrod;
    border-radius: 15px;
    border: none;
}

.bpm-input {
    width: 40px;
}
.swm-button {
    padding: 10px;
    background-color: palegoldenrod;
    border: none;
    border-radius: 15px;
    margin: 2px;
}
.swm-button:hover {
    filter: brightness(1.1); /* < 1 = darker, > 1 = lighter */
    cursor: pointer;
}
.track-column-div {
    display: flex;
    flex-direction: column;
}
.track-div {
    width: 90%;
    display: flex;
    flex-direction: row;
    margin: 10px 0;
}
.description-input {
    background-color: aliceblue;
    border: none;
    font-size: large;
}
.track-detail {
    /* width: auto; */
    flex: 0 0 30%;
    margin-left: 15px;
    padding: 15px;
    position: relative;  /* to put count-down in corner */
    display: flex;
    flex-direction: column;
    background-color: aliceblue;
    border-radius: 15px;
}
.track-detail-head-div {
    display: flex;
    flex-direction: row;
    margin-bottom: 20px;
}
.waveform-track {
    flex: 0 0 60%;  /* don't grow, don't shrink, basis = 60% */
    padding: 10px;
    border: 1.5px solid saddlebrown;
    background: peachpuff;
    border-radius: 20px;
}
new-track .waveform-track {
    background-color: lavenderblush;
}

song-track, new-track {
    display: block;
    position: relative;
    left: auto;
    overflow: clip;
    cursor: grab;
}

.count-down-div {
    top: 20px;
    right: 20px;
    position: absolute;
    font-size: xxx-large;
    font-weight: bold;
    color: darkgreen;
}
.delete-track-button {
    bottom: 20px;
    right: 20px;
    position: absolute;
}
.confirm-delete-track-button {
    bottom: 20px;
    right: 20px;
    position: absolute;
    background-color: tomato;
}

.hidden-div {
    display: none;
}
.hidden-button {
    display: none;
}